.secondHand {
  width: 2%;
  height: 2%;
  border: solid 2px white;
  border-radius: 50%;
  position: absolute;
  top: 49%;
  left: 49%;
  z-index: 10;
  &:before {
    content: "";
    position: absolute;
    width: 2px;
    height: 180px;
    top: 100%;
    left: 50%;
    margin-left: -1px;
    background-color: white;
    z-index: 10;
  }
}
