.dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #eaf7f7;
  box-shadow: 0 0 20px #fff, 0 0 30px #f20141, 0 0 40px #f20141,
    0 0 50px #f20141, 0 0 60px #f20141, 0 0 70px #f20141, 0 0 80px #f20141;
}
