.analogue {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.glass {
  height: 500px;
  width: 500px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(3px);
  z-index: 2;
}

.cogs {
  position: absolute;
  width: 750px;
  left: -20%;
}

.cog {
  display: block;
  position: absolute;
  top: 62px;
  left: 390px;
  transform: rotate(15deg);
}

.cog1 {
  display: block;
}
